.post {
    color: black;
    background: rgb(245, 241, 241);
    font-size: 20px;
    padding: 10px 15px;
    border: 1px solid rgb(87, 55, 55);
    margin-bottom: 10px;
}
#error-msg{
    color: red;
}